.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;
    flex-direction:row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    

    /** F端r Aufgabe 1 kannst du von hier... **/

    /** ...bis hier CSS-Deklarationen hinzuf端gen. **/
}

.flex-item {
    background: tomato;
    margin: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;

    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    flex-grow: 1;

}

/** F端r Aufgabe 2 kannst du von hier... **/

.flex-item:first-child{
    order: 1;
    flex-grow: 1;
}
.flex-item:nth-child(2){
    order: 2;
    flex-grow: 2;
}

/** ...bis hier CSS-Deklarationen hinzuf端gen. **/